.addMeeting-content{
    width: 1100px;
}

.addMeeting-form{
    width: 50%;
    margin: 0px auto;
    display: block;
}

h1{
    margin: 0px;
    margin-bottom: 10px;
    color: #FF8339;
    font-size: 28px;
}

.select area > a{
    color: #D5D5D5;
    text-decoration: none;
    border-bottom: 2px solid #ddd;
}

div > a:hover {
    color : black;
    border-bottom: 2px solid black;
}

#info {
    font-size: 18px;
    color : black;
    border-bottom: 2px solid black;
}

#sch {
    font-size: 18px;
}

.addMeeting-table{
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 5px auto;
}

td {
    text-align: center;
}
.addMeeting-table label{
    justify-content: center;
    color: gray;
    text-align: center;
}

#groupName {
    width: 105%;
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    outline: 0;
    color: gray;
    padding: 5px;
}

#groupName:focus-within{
    border: 1px solid #FF8339;
}

#groupCategory {
    width: 108%;
    height: 45px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    outline: 0;
    color: gray;
    padding: 5px;
}

#groupCategory:focus-within{
    border: 1px solid #FF8339;
}

#regionCategory {
    width: 47%;
    height: 45px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    outline: 0;
    color: gray;
    margin-right: 5px;
    padding: 5px;
}

#regionCategory:focus-within{
    border: 1px solid #FF8339;
}

#region-2 {
    width: 50%;
    height: 45px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    outline: 0;
    color: gray;
    padding: 5px;
}

#region-2:focus-within{
    border: 1px solid #FF8339;
}

#groupIntroduce {
    width: 106%;
    height: 180px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    outline: 0;
    color: gray;
    padding: 5px;
}

#groupIntroduce:focus-within{
    border: 1px solid #FF8339;
}

.addMeeting-button-area button{
    width: 100%;
    height: 40px;
    display: inline;
    border: 0px;
    font-size: 20px;
    margin-bottom: 8px;
}

#cancel {
    background-color: #F6F6F6;
    border-radius: 5px;
    color: #5D5D5D;
    font-size: 15px;
    width: 45%;
    height: 30px;
    margin-left: 30px;
}

#add {
    background-color: #FF8339;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 45%;
    height: 30px;
}

