*{ box-sizing: border-box;}

/* *{ border: 1px solid black; } */

*{font-family: 'NanumBarunGothic';}

/* 관리자 네비 */
.admin-nav{
    width: 250px;
    height: 35px;
    top: 0; 
    background-color: white;
}
.admin-nav > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.admin-nav li{
    flex: 1; 
}
.admin-nav a{
    display: block;
    height: 100%;
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.admin-nav a:hover{
    font-weight: bold;
    border-bottom: 3px solid #0C71FF;
}

/* 신고 관리 탭 */
.list-tab > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-tab a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    border-bottom: 0;
    font-size: 0.9em;
}
.current-tab{
    color: #0C71FF;
    border: 1px solid #0C71FF;
}

/* 공지사항 */
.admin-detail{
    width: 1000px;
    height: 700px;
    margin: auto;
}

/* 자유게시판 */
.list-wrapper{
    margin: 30px auto;
}
/* 목록 출력 테이블 */
.list-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.list-table > thead{
    background-color: #0C71FF;
    color: white;
}
.list-table tr{
    height: 35px;
}

.list-table tr > *{
    text-align: center;
}

.list-table tr > *:nth-of-type(1){ width: 5%;}
.list-table tr > *:nth-of-type(2){ width: 30%;}
.list-table tr > *:nth-of-type(3){ width: 30%;}
.list-table tr > *:nth-of-type(4){ width: 20%;}
.list-table tr > *:nth-of-type(5){ width: 15%;}
/* .list-table tr > *:nth-of-type(6){ width: 10%;}
.list-table tr > *:nth-of-type(7){ width: 5%;}
.list-table tr > *:nth-of-type(8){ width: 5%;} */

/* 게시글 제목 */
.list-table a{
    text-decoration: none;
    color: black;
}
.list-table a:hover{
    text-decoration: underline;
}
/* 신고 관리 */
.list-table input{
    display: none;
}
.r-delete:hover{
    text-decoration: underline;
    cursor: pointer;
}
.r-cancel{
    color: #0C71FF;
    font-weight: bold;
}




/* 글쓰기 버튼 */
.btn-area{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#insertBtn{
    width: 70px;
    height: 30px;
    background-color: #ff8339;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#insertBtn:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 페이지 */
.paging{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
}
.paging > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.paging li{
    flex: 50px;
}
.paging a{
    display: block;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.paging .current{
    color: white;
    background-color: #0C71FF;
    border-radius: 10%;
}


/* 검색 영역 */
#noticeSearch{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
/* 검색 영역 공통 스타일 */
#noticeSearch *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#noticeSearch select{
    width: 100px;
}
#noticeSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
}
#noticeSearch button{
    width: 60px;
    background-color: #ff8339;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

