/* 게시글 작성 */

*{ box-sizing: border-box;}

/* *{ border: 1px solid black; } */

*{font-family: 'NanumBarunGothic';}

.board-write{
    width: 1000px;
    margin: auto;
}


/* 작성 내용 */
.content{
    width: 95%;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 7px;
}
.content > *{
    width: 850px;
    margin: auto;
}
.board-title input{
    width: 700px;
    font-size: 18px;
    margin-left: 35px;
    border: 0;
    outline: 0;
}
.board-category select{
    width: 300px;
    font-size: 18px;
    margin-left: 5px;
}



/* 사진 첨부 */
.img-box{
    display: flex;
    margin-bottom: 10px;
}

/* 이미지 영역 */
.boardImg{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
}
/* 미리보기*/
.boardImg > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.preview{
    max-width: 100%;
    max-height: 100%;
}
/* 이미지 미리보기 삭제 */
.delete-image{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}


/* 게시글 내용 */
.write-area > textarea{
    width: 100%;
    height: 300px;
    resize: none;
    font-size: 15px;
}


/* 등록/취소 버튼 */
.btn-area{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

/* 등록 버튼 */
#insertBtn{
    width: 70px;
    height: 30px;
    background-color: #ff8339;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#insertBtn:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 취소 버튼 */
.goToListBtn{
    width: 70px;
    height: 30px;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.goToListBtn:hover{
    background-color: white;
    color: gray;
    border: 1px solid gray;
    font-weight: bold;
}
