/* 자유게시판 세부 내용 & 모임 후기 게시판 */

*{ box-sizing: border-box;}

/* div, span{ border: 1px solid black; } */

*{font-family: 'NanumBarunGothic';}

.board-detail{
    width: 1000px;
    margin: auto;
}
/* 글쓰기 버튼 */
.btn-area{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 28px;
}
.btn-area > button{
    width: 70px;
    height: 30px;
    background-color: #ff8339;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.btn-area > button:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 후기 수정/삭제 버튼 영역 */
/* 댓글 수정/삭제 버튼 영역 */
.write-btn-area, .reply-btn-area {
    width: 120px;
    display: flex;
}
.write-btn-area > button, .reply-btn-area > button{
    width: 40px;
    height : 20px;
    color: #0C71FF;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
}
.write-btn-area > button:hover, .reply-btn-area > button:hover{
    color: #0C71FF;
    border: 1px solid #0C71FF;
}


/* 후기 내용 */
.content{
    width: 95%;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 7px;
}

/* 제목 */
.board-title-area{
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-left: 5px;
    margin-bottom: 10px;
}
.board-title{
    width: 800px;
}

/* 작성자 프로필 */
.user > img{
    width: 35px;
    border-radius: 50%;
}
/* 프로필 영역 */
.user{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 후기글 작성자 */
.userInfo {
    display: flex;
    height: 50px;
    margin: auto;
}
/* 작성자 닉네임, 작성일 */
.writerInfo{
    width: 800px;
    padding-top: 15px;
}
.user-nick{
    font-size: 18px;
    font-weight: bold;
}
.txt-date{
    margin-left: 7px;
    font-size: 0.8em;
    color: gray;
}
.userInfo > div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 후기 내용, 댓글 내용 */
.content-txt, .reply-list-area{
    margin: 15px 0 15px 15px;
    width: 900px;
}

/* 후기 사진 */
.content-img-area{
    margin-left: 15px;
    display: flex;
    width: 900px;
}
.content-img-area > div{
    width: 200px;
    height: 200px;
    margin: 10px 10px;
}
.content-img-area img{
    width: 200px;
    height: 200px;
}



/* 댓글 영역 */
.reply-list-area{
    border-top: 1px solid #ddd;
}
.reply-list-area > p{
    font-size: 1.1em;
    font-weight: bold;
}
.reply-row{
    display: flex;
    margin: 15px auto;
}
.reply-txt-area{
    width: 580px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.reply-txt-date{
    min-width: 80px;
    margin-left: 7px;
    font-size: 0.8em;
    color: gray;
}
.reply-nick{
    height: 60px;
    width: 150px;
    margin-left: -25px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.reply-nick > img{
    width: 30px;
    border-radius: 50%;
}
.reply-nick > p{
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
}



/* 댓글 작성 textarea */
.reply-write-area{
    margin-left: 15px;
    width: 900px;
    display: flex;
    align-items: center;
}
.reply-write-area > textarea{
    width: 830px;
    height: 60px;
    resize: none;;
}
.btn-reply{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    background-color: #ff8339;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-reply:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 댓글 수정 */
.reply-update-area{
    width: 100%;
    display: flex;
    align-items: center;
}
.reply-update-area > textarea{
    width: 750px;
    height: 60px;
    resize: none;;
}
.reply-update-area button{
    width: 40px;
    height : 20px;
    color: #0C71FF;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
}
.reply-update-area button:hover{
    color: #0C71FF;
    border: 1px solid #0C71FF;
}


/* 페이지 */
.paging{
    width: 300px;
    height: 30px;
    margin: 20px auto;
}
.paging > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.paging li{
    flex: 50px;
}
.paging a{
    display: block;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.paging .current{
    color: white;
    background-color: #0C71FF;
    border-radius: 10%;
}


/* 신고 팝업 */
.report-popup{
    background-color: rgba(252, 186, 46, 0.4);
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 100;
    display: none;
    margin: auto;
    position: sticky;
    top: 0; 
}
.report-detail{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.report-detail > div{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#reportCategory{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 15px;
}
#reportCategory > option:hover{
    background-color: #ff8339;
}
#report-submission{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background-color: #ff8339;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#report-submission:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 취소 버튼 */
#report-cancel{
    width: 70px;
    height: 30px;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#report-cancel:hover{
    background-color: white;
    color: gray;
    border: 1px solid gray;
    font-weight: bold;
}
