#board{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


#doran{
    
    margin-top: 200px;
    font-size: 50px;
}
#login{
    width: 300px;
    height: 40px;
    border: 0px;
    background-color: rgb(255, 129, 45);
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-size: 20px;
    font-weight: bold;
    margin-top: 44px;
}
#signUp{
    width: 300px;
    height: 40px;
    border: 0px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#boardList{
    color: rgb(137, 137, 137);
    font-weight: bold;
}

.right{
    width: 50%;
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
    
}
.left{
    width: 50%;
    text-align: right;
}

#body{
    margin-top: 100px;
    display: flex;
    height: 650px;
}

