/* header */
body{ margin : 0; } 

main{
    width: 1140px;
    margin: auto;
}

header{
    height: 150px;
    display: block;
}

.header-content{
    background-color: #EAEAEA;
    width: 100%;
    height: 35px;
    justify-content: end;
    display: flex;
    align-items: center;
}

.header-content a {
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-right: 15px;
}

.header-content a :hover {
    color: black;
}

header > section:nth-of-type(2){
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

#category{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

#menubar{
    width: 30px;
    height: 20px;
    margin-bottom: 10px;
}

a #home-logo{
    display: flex;
    width: 200px;
}

.search-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area{
    width: 550px;
    border: none;
    display: flex;
    justify-content: center;
}

#query{
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: gray;
    padding: 5px;
    font-size: 15px;
}

#search-btn{
    width: 50px;
    height: 45px;
    background-color: #EAEAEA;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-logo{
    width: 25px;
    height: 25px;
    align-items: center;
}

.member-content{
    margin-left: 40px;
    width: 200px;
    justify-content: end;
}

section a{
    justify-content: end;
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-right: 5px;
}

/* 드롭메뉴 */
.dropdown{
    position: relative;
    display: inline-block;
    margin : 10px;
    padding: 10px;
    text-align: center;
}

#drop-content{
    position: absolute;
    z-index: 1;
}
#drop-content a{
    display:block;
    font-size: 14px;;
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}
#drop-content a:hover{
    display:block;
    font-size: 14px;
    background-color: #ff8339;
    color: white;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}


/* 풋터 */
/* footer */
footer{
    padding: 20px;
    background-color: rgb(248, 248, 248);
}

.customer-service{
    margin: 0px auto;
    width: 40%;
    color: rgb(146, 145, 145);
}

.cs{
    margin: 5px;
    font-weight:600;
}

footer a{
    color: black;
    text-decoration: none;
}

.info{
    margin-top: 30px;
    text-align: center;
}

.customer-service > p:first-child{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.customer-service > a:last-child{
    font-weight: bold;
}