*{ box-sizing: border-box;}

/* div{ border: 1px solid black; } */

*{font-family: 'NanumBarunGothic';}

.community-container{
    width: 1140px;
    margin: auto;
}

/* board-head 게시판 헤드 */
.community-head{
    width: 1000px;
    height: 330px;
    display: flex;
    margin: 5px auto;
}
/* 모임 이미지*/
.head-left{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    position : relative;
}
.head-left > img{
    height: 300px;
    width: 300px; 
}

#input-image {
    display:none;
}

.head-left > label{
    cursor: pointer;
}

#img-btn {
    border: 0;
    background-color: transparent;
    position:absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color : gray;
    font-weight: bold;
}

/* 모임 헤드 우측 모임명/소개 등 */
.head-right{
    flex-basis: 65%;
    margin-left: 10px;
}
/* 모임명 */
.head-title{
    height: 40px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}
.community-name{
    flex-basis: 90%;
    display: flex;
}

/* 모임 편집(모임장만 가능) */
.community-name > a{
    text-decoration: none;
}
.btn-edit{
    color: gray;
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 10px;
    cursor: pointer;
}
.btn-edit:hover{
    color: #0C71FF;
    text-decoration: underline;
} 

/* 모임 신고 버튼 */
.btn-report{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0;
    border-radius: 3px;
    color: gray;
    cursor: pointer;
}
.btn-report:hover{
    color: #0C71FF;
    border: 1px solid #0C71FF;
}

/* 모임 소개글 */
.head-info{
    height: 140px;
    margin-left: 15px;
}

/* 모임장 정보 */
/* 프로필사진 */
#user{
    width: 35px;
    border-radius: 50%;
}
.head-user{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.head-user > div:nth-of-type(1){
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 모임 가입하기 */
/* 찜하기 */
#pick{
    width: 30px;
    cursor: pointer;
}
.head-join{
    display: flex;
}
.head-join > div:nth-of-type(1){
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 모임 가입하기 버튼 */
.btn-join{
    height: 50px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8339;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

}
.btn-join:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 탈퇴하기 */
#btn-leave{
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    color: gray;
    cursor: pointer;
}
#btn-leave:hover{
    color: #0C71FF;
    text-decoration: underline;
}


/* board-nav 게시판 네비 */
.community-nav{
    width: 1000px;
    height: 40px;
    position: sticky;
    top: 0; 
    margin: auto;
    background-color: white;
    border-top: 1px solid #ff8339;
    border-bottom: 1px solid #ff8339;
}
.community-nav > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.community-nav li{
    flex: 1 1 150px; 
        /* 팽창, 수축, 기본값 */
}
.community-nav a{
    display: block;
    height: 100%;
    text-align: center;
    padding: 8px 0;

    /* 밑줄 */
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.community-nav a:hover{
    color: #ff8339;
    font-weight: bold;
}
.community-nav span{
    font-size: 20px;
    color: black;
    padding: 4px;
}

/* board-content 게시판 내용 */
/* 게시판 밑줄 */
.board{
    width: 1000px;
    min-height: 230px;
    margin: 25px auto;
    border-bottom: 1px solid #ddd;
}

/* 상세 정보 소개글 */
.board-detail-txt{
    min-height: 100px;
}

/* 다음 모임 */
.next-event{
    margin-top: -10px;
    border-collapse: collapse;
}
.next-event th{
    border: 1px solid black;
    background-color: #ff8339;
    color: white;
    width: 90px;
    height: 35px;
}
.next-event td{
    border: 1px solid black;
    width: 300px;
	padding-left: 10px;
}
/* 참여하기 버튼 */
.btn-event{
    margin: 7px 310px;
    width: 80px;
    height: 30px;
    background-color: #ff8339;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-event:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}

/* 가입인사 / 자유게시판 / 모임 후기 전체 보기 */
.board a{
    text-decoration: none;
}

.board-all{
    font-size: 0.7em;
    font-weight: normal;
    color: rgb(66, 66, 66);
    margin-left: 7px;
}
.board-all:hover{
    text-decoration: underline;
    color: #0C71FF;
}





/* 모임 후기 */
.review-content {
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}
.review{
    flex-basis: 25%;
    text-align: center;
}
/* 후기 사진 */
.review-img > img{
    width: 200px;
    height: 200px;
}
.userInfo{
    display: flex;
    align-items: center;
    margin: 7px 15px;
    height: 40px;
    border-bottom: 1px solid rgb(253, 243, 243);;
}
.userInfo > div:nth-of-type(1){
    flex-basis: 25%;
}
.userInfo > div:nth-of-type(2){
    height: 40px;
    text-align: left;
}
.review-text{
    text-align: left;
    margin: 7px 15px;
}
.review-text > div{
    margin-top: -30px;
    max-height: 100px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}



/* 신고 팝업 */
.report-popup{
    background-color: rgba(252, 186, 46, 0.4);
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 100;
    display: none;
    margin: auto;
    position: sticky;
    top: 0; 
}
.report-detail{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.report-detail > div{
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}

#reportCategory{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 15px;
}
#reportCategory > option:hover{
    background-color: #ff8339;
}
#report-submission{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background-color: #ff8339;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#report-submission:hover{
    background-color: white;
    color: #ff8339;
    border: 1px solid #ff8339;
    font-weight: bold;
}


/* 취소 버튼 */
#report-cancel{
    width: 70px;
    height: 30px;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#report-cancel:hover{
    background-color: white;
    color: gray;
    border: 1px solid gray;
    font-weight: bold;
}



