.myPage-content{
    width: 900px;
    height: 800px;

    margin: 50px auto;
    display: flex;
}

.left-side{
    width: 25%;
    border-right: 2px solid #ddd;
}

.list-group{
    width: 100%;
    padding: 0 20px 0 0;
}

.list-group>li{
    list-style: none;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}


.list-group > li > a{
    text-decoration: none;
    color : black;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #ddd;
}

.list-group>li>a:hover{
    border-bottom: 2px solid #FF8339 ;
}

.myPage-main{
    width: 75%;
    padding: 0 50px;
}

.myPage-title{
    margin : 0 0 15px 0;
    font-size: 2.5em;
}

.myPage-explanation{
    display: block;
    margin-top : 30px;
    font-size: 16px;
    letter-spacing: -1px;
}

.myPage-row{
    width: 500px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.myPage-row>*{
    font-size: 18px;
    font-weight: bold;
}

.myPage-row>label{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 100%;
    color:white;
    padding: 12px 0;
    background-color:#FF8339;

}

.myPage-row>span{
    width: 70%;
    padding-left:15px
}

.myPage-row>input{
    width: 70%;
    height: 100%;
    padding-left: 10px;
    border : 0;
    outline : 0;
    font-weight: normal;
}

.myPage-row:focus-within{
    border-bottom: 2px solid #FF8339;
}

form[name='myPage-form']{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-update-btn{
    width: 65%;
    padding: 10px;
    margin : 50px 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF8339;
    color: white;
    cursor: pointer;
}

.message-row{
    width: 500px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    padding-left: 150px;

}

.error{
    color : red;
}

.confirm{
    color : green;
}