*{ box-sizing: border-box;}

/* *{ border: 1px solid black; } */

*{font-family: 'NanumBarunGothic';}

/* 관리자 네비 */
.notice-nav{
    width: 380px;
    height: 35px;
    top: 0; 
    background-color: white;
}
.notice-nav > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.notice-nav li{
    flex: 1; 
}
.notice-nav a{
    display: block;
    height: 100%;
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.notice-nav a:hover{
    font-weight: bold;
    border-bottom: 3px solid #0C71FF;
}


/* 공지사항 전체 영역*/
.notice-content{
    width: 1000px;
    height: 700px;
    margin: auto;
}

/* 게시판 */
.list-wrapper{
    margin: 7px auto;
}
/* 목록 출력 테이블 */
.list-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.list-table > thead{
    background-color: #ff8339;
    color: white;
}
.list-table tr{
    height: 35px;
}

.list-table > tbody > tr{
    border-bottom: 1px solid gray;
}

.list-table tr > *{
    text-align: center;
}

.list-table tr > *:nth-of-type(1){ width: 15%;}

.list-table tr > *:nth-of-type(2){ width: 55%;}
.list-table tr > td:nth-of-type(2){
    text-align: left;
    padding-left: 50px;
}
.list-table tr > *:nth-of-type(3){ width: 20%;}
.list-table tr > *:nth-of-type(4){ width: 10%;}

/* 게시글 제목 */
.list-table a{
    text-decoration: none;
    color: black;
}
.list-table a:hover{
    text-decoration: underline;
}


/* 페이지 */
.paging{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
}
.paging > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.paging li{
    flex: 50px;
}
.paging a{
    display: block;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.paging .current{
    color: white;
    background-color: #0C71FF;
    border-radius: 10%;
}


/* 검색 영역 */
#noticeSearch{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
/* 검색 영역 공통 스타일 */
#noticeSearch *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#noticeSearch select{
    width: 100px;
}
#noticeSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
}
#noticeSearch button{
    width: 60px;
    background-color: #ff8339;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

