.signUp-content {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 60px;
    padding: 24px 20px;
}

* {
    outline: none;
    font-family: inherit;
}

form[name="signUp-form"] {
    margin-top: 30px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.signUp-input-area {
    display: flex;
}

.singUp-input {
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204);
    margin: 4px 0px 8px;
    /* display: flex; */
    margin-bottom: 0px;
}

.certified {
    width: 180px;
    /* height: 50px;
    line-height: 0px; */
    padding: 0px 13px;
    background-color: rgb(238, 238, 238);
    /* text-align: center; */
    border-radius: 8px;
    color: rgb(128, 128, 128);
    font-size: 14px;
    /* margin: 4px 0px 8px; */
    border: 0px;
    margin: 4px 4px 0px 4px;
    cursor: pointer;
}

.signUp-message {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(128, 128, 128);
    margin-top: 5px;
    margin-bottom: 15px;
}

.signUp-category {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(128, 127, 127);
}

.next {
    width: 100%;
    height: 56px;
    /* line-height: 24px; */
    /* padding: 0px 13px; */
    border: 0px;
    background-color: rgb(255, 129, 45);
    /* text-align: center;
    cursor: not-allowed; */
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-size: 20px;
    font-weight: bold;
    margin-top: 44px;
}

.ui-datepicker-trigger {
    position: absolute;
    right: 25px;
    top: 41px;
    color: #999;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.category {
    /* -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    font-weight: 500; */
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: rgb(170, 170, 170);
    /* background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    white-space: nowrap; */
    letter-spacing: -0.7px;
    /* margin-top: 7px; */
    display: flex;
    /* padding-right: 20px; */
    margin-top: 0px;
    cursor: pointer;
    justify-content: space-between;
}

/* .category{
    cursor: pointer;
} */

/* 회원가입 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 100%;
    margin: auto;
}

header {
    height: 200px;
    display: block;
}

header>section:nth-of-type(1) {
    flex-basis: 20%;
}

header>section:nth-of-type(2) {
    flex-basis: 80%;
}

.header-content {
    background-color: #EAEAEA;
    width: 100%;
    height: 35px;
    justify-content: end;
    display: flex;
    align-items: center;
}

.header-content a {
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-right: 15px;
}

header>section:nth-of-type(2) {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
}


#category {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

#menubar {
    width: 30px;
    height: 20px;
    margin-bottom: 10px;
}

a #home-logo {
    justify-content: center;
    width: 250px;
}


section>.search-content {
    display: flex;
    margin: auto;
}

.search-area {
    border: none;
    display: flex;
}

#query {
    width: 330px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #F6F6F6;
    padding: 5px;
    font-size: 15px;
}

#search-btn {
    width: 50px;
    height: 45px;
    background-color: #EAEAEA;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-logo {
    width: 25px;
    height: 25px;
    align-items: center;
}

section a {
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-right: 15px;
}

/* 성별 */
.form-flex {
    display: flex;
    margin-top: 5px;
    display: -webkit-flex;
}

.form-radio input {
    width: 0;
    height: 100%;
}

.form-radio input:checked+label {
    background-color: rgb(190, 190, 190);
    color: #FFF;
    border-color: rgb(190, 190, 190);
    ;
    z-index: 1;
}

.form-radio input+label {
    margin: 0px;
    padding: 12px 10px;
    width: 60px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: rgb(238, 238, 238);
    font-size: 14px;
    font-weight: 600;
    color: rgb(128, 128, 128);
    text-align: center;
    border-radius: 8px;
}

.form-radio {
    display: flex;
}

/* 지역, 생년월일 */
#memberLive,
#memberBirth {
    width: 175px;
}

.birthLive {
    justify-content: space-between;
}

/* 지역 */
.search_boxes {
    display: flex;
    justify-content: space-between;
}

#local,#state {
    width: 170px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    border-radius: 8px;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none;  */
    margin: 15px 0px 8px;
}

.search_box::-ms-expand {
    display: none;
}

